.content {
  margin-left: $sidebar-width;
  color: $gray-5;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.006em;

  &__intro {
    font-size: 1.25rem;
    color: $gray-6;
  }

  &__main {
    padding: 60px;
    max-width: 1020px;
  }

  &__title {
    font-size: 1.8rem;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: $size-sm;
    color: $gray-8;
  }

  &__subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: $size-xxl;
    color: $gray-7;
  }

  a {
    //color: #429bce;
    //color: inherit;
    font-weight: bold;

    &:hover {
      //color: #5ab9e1;
      cursor: pointer;
    }
  }

  &__boxes-container {
    margin :40px auto 60px auto;
    width:780px;

    &--twoboxes {
      margin :15px auto 10px auto;
      width:520px;
    }

    &--item {
      display: inline-block;
      width: 240px;
      text-align: center;
      margin: 0 auto;
      margin-right:10px;

      &-top {
        padding:60px 0px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }

      &-bottom {
        margin:0 auto;
        padding:20px 0 10px 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: 1px $gray-2 solid;
        border-bottom: 1px $gray-2 solid;
        border-right: 1px $gray-2 solid;
        font-size: 13px;
      }
    }
  }
}
