.logo {
  border:1px #e2e6e8 solid;
  width:350px;
  text-align:center;
  display:inline-block;
  padding:40px;
}

.white {
  background-color: #fff
}

.color1 {
  background-color: #2d3033
}

.color2 {
  background-color: #6c7279
}

.navy {
  background-color: #1c4561;
}
