.typography {

  &__raleway {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;

    &--light {
      font-weight: 300;
    }

    &--normal {
      font-weight: 400;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__opensans {
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;

    &--light {
      font-weight: 300;
    }

    &--normal {
      font-weight: 400;
    }

    &--bold {
      font-weight: 700;
    }

    &--extrabold {
      font-weight: 800;
    }

  }

  &__example {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

    &--header {
      font-size: 33px;
      color: $c-slate;
      margin-bottom: 0;
    }

    &--subheader {
      font-size: 22px;
      color: $c-beijing;
    }

    &--bodycopy {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 16px;
      padding-top:15px;
      line-height: 26.4px;
      color: $c-glencoe;
    }
  }

}
