<h1 class="content__title">Online Banners / Wireframes</h1>
<!--<p class="content__intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget enim erat. Cras augue nulla, luctus nec leo id, maximus luctus nisi. Donec vitae odio nulla. Vivamus nec massa eget sem feugiat varius vitae odio.</p>-->

<h3 class="content__subtitle" id="icons">Some recommendations:</h3>
<p>It is highly encouraged to use short words for copy, and to keep the length of the copy as short and precise as possible.</p>


<h3 class="content__subtitle" id="icons">Common banner sizes</h3>


<p>300 x 250px<br></p>
<p><img src="/assets/images/wireframes-ads-300x250.png" width="300" height="250" /></p>

<p>468 x 60px<br></p>
<p><img src="/assets/images/wireframes-ads-468x60.png" width="468" height="60" /></p>
<!--<p><img src="/assets/images/ads-468x60-3.png" width="468" height="60" /></p>
<p><img src="/assets/images/ads-468x60-2.png" width="468" height="60" /></p>
<p><img src="/assets/images/ads-468x60.png" width="468" height="60" /></p>-->


<p>728 x 90px<br></p>
<p><img src="/assets/images/wireframes-ads-728x90.png" width="728" height="90" /></p>


<p>300 x 600px<br></p>
<p>
  <img src="/assets/images/wireframes-ads-300x600.png" width="300" height="600" style="margin-right:10px" />
  <img src="/assets/images/wireframes-ads-300x600-2.png" width="300" height="600" />
</p>


<p>120 x 600px<br></p>
<p><img src="/assets/images/wireframes-ads-120x600.png" width="120" height="600" style="margin-right:10px" />
<img src="/assets/images/wireframes-ads-120x600-2.png" width="120" height="600" style="margin-right:10px" /></p>


<p>160 x 600px<br></p>
<p><img src="/assets/images/wireframes-ads-160x600.png" width="160" height="600"/></p>
