<h1 class="content__title">Buttons</h1>
<p class="content__intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum ante, non consectetur nulla rutrum eu. Suspendisse blandit diam ac ligula tincidunt, sed ultricies sapien.</p>

<h3 class="content__subtitle">Primary Buttons</h3>


<div class="content__boxes-container">
  <div class="content__boxes-container--item">
    <div class="content__boxes-container--item-top c-vhs">
      <a class="btn btn__primary--signup btn__primary--signup--label" href="#">This is a button</a>
    </div>
    <div class="content__boxes-container--item-bottom">
      <p>Primary Button</p>
    </div>
  </div>

  <div class="content__boxes-container--item">
    <div class="content__boxes-container--item-top c-vhs">
      <a class="btn--flat btn__primary--cta" href="#">Download eBook</a>
    </div>
    <div class="content__boxes-container--item-bottom">
      <p>Primary button (simplified)</p>
    </div>
  </div>

  <div class="content__boxes-container--item">
    <div class="content__boxes-container--item-top c-white">
      <a class="btn--flat btn__primary--cta" href="#">Download eBook</a>
    </div>
    <div class="content__boxes-container--item-bottom">
      <p>Primary button (simplified)</p>
    </div>
  </div>
</div>

<h3 class="content__subtitle">Secondary Buttons</h3>

<div class="content__boxes-container">
  <div class="content__boxes-container--item">
    <div class="content__boxes-container--item-top c-vhs">
      <a class="btn btn__primary--signup--label" href="#">This is a button</a>
    </div>
    <div class="content__boxes-container--item-bottom">
      <p>Secondary Button</p>
    </div>
  </div>

  <div class="content__boxes-container--item">
    <div class="content__boxes-container--item-top c-white">
      <a class="btn btn__secondary" href="#">Download eBook</a>
    </div>
    <div class="content__boxes-container--item-bottom">
      <p>Secondary button</p>
    </div>
  </div>
</div>
