<h1 class="content__title">TradeGecko Logo</h1>
<p class="content__intro">The purpose of this document is to define how our corporate identity should be implemented across a range of mediums, ensuring maximum traction and identifiability.</p>

<h3 class="content__subtitle" id="icons">Our Logo</h3>
<p>This is our standard logo to be used on a light (preferably white) background. Adequate spacing around the logo should be maintained at all times. The font used for the wordmark is a lightly customised <a href="https://fonts.google.com/?query=ubuntu">Ubuntu</a>. When writing the word in alphanumerics please always use the format ‘TradeGecko’. <b>Do not use</b> ‘Tradegecko’, ‘Trade Gecko’, ‘trade-gecko’ etc.</p>
  <div class="box-grey-outline">
    <img src="/assets/images/logos/logo-original.png" width="350" height="auto">
  </div>

<h3 class="content__subtitle" id="icons">Proportions and Spacing</h3>
<p>Please do not alter the position or size of either the mark or the wordmark relative to one
another. The mark is vertically centered between the ascender height of the ‘k’ and the
descender height of the ‘g’.</p>
  <div class="box-grey-outline">
    <img src="/assets/images/logos/logo-proportions.png" width="650" height="auto">
  </div>

<h3 class="content__subtitle" id="icons">Alternative Layouts</h3>
<p>Both of these logos are appropriate depending on the format of the deliverable. The logo on the left is intended for limited space situations, where we may not necessarily get the chance to expand on what we do. The logo on the right (available both with and without the strapline) is intended for portrait-oriented formats.</p>
<div class="box-grey-outline">
  <img src="/assets/images/logos/logo-alternative-layout.png" width="650" height="auto">
</div>

<!--<h3 class="content__subtitle" id="icons">Watermark</h3>
<p>Use a watermark to add interest only when required. (When a page or slide for example would otherwise be devoid of branding elements related to TradeGecko.) Please place the watermark in the lower right corner of the artwork, set with it’s left and bottom edges off the page but with the circled elements all visible.</p>
<div class="box-grey-outline">
  <img src="/assets/images/logos/logo-watermark.png" width="752" height="auto">
</div>-->

<h3 class="content__subtitle" id="icons">Appropriate Colour Usage</h3>
<p>The key thing to note is that the TradeGecko logo needs to be <b>high contrast</b> from the background.</p>
<p>
  There are only two instances where the TradeGecko logo is being used in colour:
  <ul style="list-style-type:disc; padding-left:20px">
    <li>on a white background <code>#fff</code>.</li>
    <li>on a dark background (please only use VHS blue <code>#1c4561</code>) - and the "TradeGecko" text needs to be in white.</li>
  </ul>
</p>

<div class="logo__container logo__container-margin">
  <div class="logo c-white">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-green.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-slate.svg">
  </div>

  <div class="logo c-vhs">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-green.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-white.svg">
  </div>
</div>

<p>In the occasion where we need to place the TradeGecko logo on a coloured background (only selected colours from our {{#link-to "colors"}}Colour&nbsp;Palette{{/link-to}}), the logo needs to be in all white. </p>

<div class="logo__container logo__container-margin">
  {{#each colors as |color|}}
    <div class="logo {{color}}">
      <img class="logo__logo-mark" src="/assets/images/logos/mark-white.svg">
      <img class="logo__logo-mark-text" src="/assets/images/logos/text-white.svg">
    </div>
  {{/each}}
</div>

<p><b>Print:</b> Do use an all Slate logo if you know that the material will be printed in monochrome.</p>

<div class="logo__container__single logo__container-margin">
  <div class="logo c-white">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-slate.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-slate.svg">
  </div>
</div>

<h3 class="content__subtitle" id="icons">Image Overlays</h3>
<p>Here are two examples where you can use our logos on an overlayed image.</p>

<p>
  Things to note:
  <ul style="list-style-type:disc; padding-left:20px">
    <li>Again, clarity is key. Please make sure that the TradeGecko logo is high contrast against the background.</li>
    <li>For colour overlays, it is <b>highly recommended</b> that VHS blue <code>#1c4561</code> is used as the sole colour. (Example on the left)</li>
    <li>If a different colour is used or even a gradient, please use only colours from our {{#link-to "colors"}}Colour&nbsp;Palette{{/link-to}}. The example on the right features Royal <code>#5960ce</code> and Haze <code>#a058b8</code>.</li>
  </ul>
</p>

<div class="logo__container logo__container-margin">
  <div class="logo" style="background-image: url('/assets/images/logos/logo-img-bg-1.png');">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-green.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-white.svg">
  </div>

  <div class="logo" style="background-image: url('/assets/images/logos/logo-img-bg-2.png');">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-white.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-white.svg">
  </div>
</div>


<h3 class="content__subtitle" id="icons">Logo Don't's</h3>

<div class="logo__container logo__container-margin">
  <div class="logo c-ocean">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-green.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-slate.svg">
  </div>

  <div class="logo" style="background-image: url('/assets/images/logos/logo-img-bg-3.png');">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-green.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-slate.svg">
  </div>

  <div class="logo c-slate">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-green.svg">
    <img class="logo__logo-mark-text" src="/assets/images/logos/text-green.svg">
  </div>

  <div class="logo c-white">
    <img class="logo__logo-mark" src="/assets/images/logos/mark-green.svg">
    <img class="logo__logo-mark-text" style="padding-top:10px;" src="/assets/images/logos/text-slate.svg">
  </div>
</div>
