<h1 class="content__title">Webinars</h1>
<p class="content__intro">Here are some webinar collaterals that we've done in the past to give you an idea on how we use our colours.</p>

<h3 class="content__subtitle" id="icons">Partnerships</h3>
<p>
  We used gradient colours from our colour palette ("<strong>Royal</strong>" <code>#5960ce</code> and "<strong>Haze</strong>" <code>#a058b8</code>) as an overlay on a photo image.
</p>
<p>&nbsp;</p>
<p><img src="/assets/images/partnerships-facebook-1200x628px.png" width="600" height="auto"></p>
<p>&nbsp;</p>

<p><img src="/assets/images/partnerships-twitter-1024x512px.png" width="512" height="auto">
  &nbsp; <img src="/assets/images/partnerships-email-630px.png" width="315" height="auto"></p>

  <h3 class="content__subtitle" id="icons">TradeGecko for Sales</h3>
  <p>
    We used gradient colours from our colour palette ("<strong>Oops</strong>" <code>#fbb207</code> and "<strong>Watermelon</strong>" <code>#f6574d</code>) as an overlay on a photo image.
  </p>
  <p>&nbsp;</p>
  <p><img src="/assets/images/tgfs-facebook-1200x628px.png" width="600" height="auto"></p>
  <p>&nbsp;</p>

  <p><img src="/assets/images/tgfs-twitter-1024x512px.png" width="512" height="auto">
    &nbsp; <img src="/assets/images/tgfs-email-630px.png" width="315" height="auto"></p>
